body
{
padding-top: 60px;
}
.navbar .nav .active > a
{
background-color:#134;
color:#eee;
}
.navbar .brand
{
color:#ccc;
text-shadow:none;
}
.navbar-inner
{
background-color:#39c;
background-image:-moz-linear-gradient(top, #39c, #269);
background-image:-ms-linear-gradient(top, #39c, #269);
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#39c), to(#269));
background-image:-webkit-linear-gradient(top, #39c, #269);
background-image:-o-linear-gradient(top, #39c, #269);
background-image:linear-gradient(top, #39c, #269);
}
.navbar .nav > li > a
{
color:#ccc;
text-shadow:none;
}

.navbar .nav > li > a:hover
{
color:#eee;
}

.space1
{
display:block;
min-height:1ex;
min-width:0.5em;
}
.space2
{
display:block;
min-height:2ex;
min-width:1em;
}
.cell
{
background-color: #eee;
text-align: center;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
min-height: 30px;
line-height: 30px;
margin-bottom:3px;
margin-top:3px;
}
.cell>h2
{
margin:0;
}
.wide
{
width:100%;
}
.c
{
text-align:center;
}
.d
{
font-size:120%;
font-weight:bold;
width:15%;
}
.photo
{
background-color: #fff;
text-align: center;
border:1px solid #ccc;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
display:inline-block;
margin:3px;
padding:6px;
}

