{%- extends 'base.html' -%}
{#-
Copyright 2012 Matt Kenney

This file is part of Fotocog.

Fotocog is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

Fotocog is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with Fotocog.  If not, see <http://www.gnu.org/licenses/>.
-#}
{%- block container -%}
<div class="row">
<div class="offset2 span8 cell">
<h2><a href="../../">{{ year }}</a> : <a href="../">{{ month }}</a></h2>
</div>
</div>
<div class="row">
<div class="offset2 span8 cell">
<table class="wide">
{%- for week in weeks -%}
<tr>
{%- for day in week -%}
<td class="c d">
{%- if days[day] -%}<a href="{{ day }}/">{%- endif -%}
{{ day }}
{%- if days[day] -%}</a>{%- endif -%}
</td>
{%- endfor -%}
</tr>
{%- endfor -%}
</table>
</div>
</div>
{%- endblock -%}

